@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">

    <h1 class="mb-4">Welcome</h1>
    <div class="d-flex flex-column gap-2 mt-5">
        <a asp-controller="Movies" class="btn btn-secondary w-25 py-5 align-self-center"><h4>Movies</h4></a>
        <a asp-controller="Directors" class="btn btn-secondary w-25 py-5 align-self-center"><h4>Directors</h4></a>
    </div>
</div>
